target
out
dist
node_modules
/notebooks/
/notebooks-test-mount/
libjep.dylib
.idea
.DS_Store
scripts/dist-config.yml
*.zip
tmp/
config.yml
default.yml
metastore_db
*.log
tmp
npm-debug.log.*
run-jar.sh
