name: Backend CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        scala_version: ['2.12.12', '2.13.6']
        spark_version: ['3.3.4', '3.5.7']

    name: Scala ${{ matrix.scala_version }} / Spark ${{ matrix.spark_version }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'
        architecture: 'x64'
    - uses: actions/setup-java@v1
      with:
        java-version: 17
        architecture: x64
    - name: Build and Test
      run: ./.github/scripts/build-and-test.sh ${{ matrix.scala_version }}
      env:
        SPARK_VERSION: ${{ matrix.spark_version }}
