name: Build 2.12

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'
        architecture: 'x64'
    - uses: actions/setup-java@v1
      with:
        java-version: 17
        architecture: x64
    - name: Build
      run: ./.github/scripts/build-and-test.sh 2.12.12
